= search_form_for @q, url: users_account_histories_path do |f|
  = f.label :transaction
  = f.text_field :transaction_history_cont

  = f.submit 'Search'
%table.table.table-hover.table-striped.table-secondary.table-responsive.table-bordered.text-black
  %thead.table-dark
    %tr
      %th Initial balance
      %th Transaction
      %th Final balance
  %tbody.table-group-divider
    - @history.each do |hist|
      %tr
        %td= hist.initial_balance
        %td= hist.transaction_history
        %td= hist.final_balance

= will_paginate @history, class: 'digg_pagination'